<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://18.197.182.199:3306/david_bankdb"/>
                <property name="username" value="root"/>
                <property name="password" value="devintern"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mappers/BranchMapper.xml"/>
        <mapper resource="mybatis/mappers/BranchEmployeeMapper.xml"/>
        <mapper resource="mybatis/mappers/CustomerMapper.xml"/>
        <mapper resource="mybatis/mappers/CreditCardMapper.xml"/>
        <mapper resource="mybatis/mappers/DebitCardMapper.xml"/>
        <mapper resource="mybatis/mappers/LoanMapper.xml"/>
        <mapper resource="mybatis/mappers/TransactionMapper.xml"/>
        <mapper resource="mybatis/mappers/TransactionTypeMapper.xml"/>
        <mapper resource="mybatis/mappers/AccountMapper.xml"/>
    </mappers>
</configuration>